:root {
  /* Couleur principale */
  --md-primary-fg-color: #A62A29;
  --md-primary-fg-color--light: #B84A48;
  --md-primary-fg-color--dark: #7E1F1E;

  /* Couleur d'accentuation */
  --md-accent-fg-color: #A0A0A0;
  --md-accent-fg-color--transparent: rgba(160, 160, 160, 0.1);
}

/* Mode sombre */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #A62A29;
  --md-accent-fg-color: #A0A0A0;
}